<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="my.first.app" version="1.0.0"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pushbot Test</name>
    <description>
        A sample Tabris.js application PUSHBOT.
    </description>
    <author email="radiegtya@gmail.com" href="https://tabrisjs.com">
        Radiegtya
    </author>
    <gap:plugin name="com.pushbots.push" version="1.2.3" source="plugins.cordova.io" />
    <access origin="*.pushbots.com" />
</widget>